altgraph==0.17.3
autopep8==2.0.1
customtkinter==5.0.3
darkdetect==0.8.0
macholib==1.16.2
numpy==1.24.1
packaging==23.0
pdf2image==1.16.2
Pillow==9.4.0
pycodestyle==2.10.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
pytesseract==0.3.10
tomli==2.0.1
